[alias]
	aliases = config --get-regexp ^alias
	ad = add
	af = add .
	ci = commit
	cia = commit --amend
	adci = !git add -A && git commit -m
	co = checkout
	st = status
	sw = switch
	df = diff
	br = branch
	ph = push
	phf = push -f
        pl = pull
	pr = pull --rebase
	rb = rebase
        ft = fetch
        m = sw main
        brd = branch -D
        ftp = fetch --prune
	ust = reset HEAD --
        undo = reset --soft HEAD~1
	last = log -1 HEAD
	ll = log --oneline --graph --decorate --all
[user]
	name = Sergio Rodríguez Calvo
	email = sergiorodriguezcalvo@gmail.com
[color]
	ui = auto
[init]
	defaultBranch = main
